.product-container {
  flex: 1;
  /* height: calc(100vh - 99px); */
  /* overflow: scroll; */
}

.product-container > h1 {
  font-size: var(--heading4-size);
  color: var(--dark-gray);
  margin-bottom: 0px;
  margin-top: var(--margin-large);
  position: absolute;
}
.product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--product-card-width));
  gap: var(--margin-large);
  padding-top: var(--margin-almost-huge);
  /* height: 100%; */
}

@media only screen and (max-width: 1080px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, 100%);
    padding-top: 0px;
  }
}
