.footer {
  border-top: 1px solid var(--light-gray);
  margin-left: var(--margin-huge);
  margin-right: var(--margin-huge);
  padding: var(--margin-large);
  text-align: center;
  color: var(--dark-gray);
  margin-top: 200px;
}
.footer > a > svg {
  width: 20px;
  position: absolute;
  color: var(--light-gray);
}
@media only screen and (max-width: 1080px) {
  .footer > a > svg {
    margin-top: 10px;
  }
  .footer {
    padding: var(--margin-large);
    margin-top: var(--margin-large);
  }
}
