@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #FFFFFF;
  --grey: #D8D8D8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  padding: 0px 100px;
}