@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #b4a186;
  --accent-dark: #a18a68;
  --pure-white: #fff;
  --white: #fbfbfb;
  --black: #0a0a0a;
  --light-gray: #d8d8d8;
  --gray: #3d3d3d;
  --dark-gray: #707070;
  --error: #d82700;
  --heading-size: 33px;
  --heading2-size: 26px;
  --heading3-size: 24px;
  --heading4-size: 20px;
  --heading5-size: 16px;
  --body-large-size: 16px;
  --body-medium-size: 14px;
  --body-small-size: 12px;
  --regular-weight: 400;
  --medimum-weight: 500;
  --bold-weight: 700;
  --margin-huge: 100px;
  --margin-almost-huge: 96px;
  --margin-extra-large: 54px;
  --margin-very-large: 46px;
  --margin-large: 39px;
  --margin-medium: 24px;
  --margin-medium-small: 16px;
  --margin-small: 11px;
  --margin-extra-small: 8px;
  --margin-extra-extra-small: 4px;
  --border-radius-small: 8px;
  --border-radius-extra-small: 4px;
}

body {
  color: var(--black);
  background: var(--white);
  font-weight: var(--regular-weight);
  /* padding: 0px 100px; */
  font-size: var(--body-medium-size);
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
svg {
  color: var(--black);
}

h1 {
  font-size: var(--heading-size);
  font-weight: var(--medimum-weight);
}

h2 {
  font-size: var(--heading2-size);
  font-weight: var(--regular-weight);
}
h3 {
  font-size: var(--heading3-size);
  font-weight: var(--regular-weight);
}
h4 {
  font-size: var(--heading4-size);
  font-weight: var(--medium-weight);
}
h5 {
  font-size: var(--headin5-size);
  font-weight: var(--regular-weight);
}

p {
  font-size: var(--body-large-size);
  white-space: pre-line;
}

img {
  position: relative !important;
}

@media only screen and (max-width: 1080px) {
  body {
    padding: 0px 20px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  background: none;
  border-bottom: 1px solid var(--light-gray);
  font-size: var(--body-medium-size);
  width: 100%;
  padding-bottom: var(--margin-small);
}
