.landing-page {
  padding: 0px var(--margin-huge);
  margin-top: var(--margin-huge);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-content {
  width: 100%;
}

.landing-content > .landing-image-container {
  height: 570px !important;
}
.landing-image-container > img {
  position: relative !important;
  border-radius: var(--border-radius-small);
}

.landing-image-container {
  position: relative;
  width: 100%;
}
.image-content {
  position: absolute;
  bottom: var(--margin-almost-huge);
  left: var(--margin-almost-huge);
  right: var(--margin-almost-huge);
  /* max-width: calc(100vw - 2 * var(--margin-almost-huge)-2 * var(--margin-huge)); */
}
.image-content > h1,
.image-content > p {
  color: var(--white);
}

.image-content > a > button {
  background-color: transparent;
  border: 2px solid var(--white);
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.latest-products {
  display: flex;
  gap: var(--margin-medium);
  max-width: 100%;
  overflow: scroll;
}

.headings {
  margin-top: var(--margin-very-large);
  margin-bottom: var(--margin-medium);
}

.headings > a {
  color: var(--accent);
  text-align: end;
}

.latest-blog-post > h3 {
  font-size: var(--heading4-size);
}
.latest-blog-post > h4 {
  color: var(--dark-gray);
  margin-bottom: var(--margin-medium);
}
.latest-blog-post > a {
  color: var(--accent);
}
@media only screen and (max-width: 1080px) {
  .landing-page {
    margin-top: var(--margin-medium);
    padding: 0px;
  }
  .latest-products {
    flex-direction: column;
  }
  .landing-content > .landing-image-container {
    height: 500px !important;
  }

  .image-content {
    position: absolute;
    right: var(--margin-extra-small);
    left: var(--margin-extra-small);
    bottom: var(--margin-extra-small);
    padding: var(--margin-extra-small);
  }
  .image-content > h1 {
    font-size: var(--heading3-size);
  }
  .headings > h2 {
    font-size: var(--heading4-size);
  }
  .primary-button {
    margin-top: var(--margin-medium);
  }
}
