.product {
  max-width: var(--product-card-width);
  position: relative;
  cursor: pointer;
}
.empty-product {
  height: 382px;
}

.image-container {
  width: var(--product-card-width);
  height: var(--product-card-width);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pure-white);
  box-shadow: 0px 0px 1px var(--light-gray);
}

.product > .image-container > a > img {
  position: relative !important;
  object-fit: cover;
  transition: transform 0.2s;
}
.product:hover > .image-container > a > img {
  transform: scale(1.05);
}

.product > h4 {
  margin-top: var(--margin-medium);
}

.product > p {
  margin-top: var(--margin-medium-small);
  color: var(--accent);
  font-size: var(--body-medium-size);
}

.discount-badge {
  position: absolute;
  background-color: var(--accent-dark);
  top: var(--margin-medium-small);
  left: var(--margin-medium-small);
  padding: var(--margin-extra-extra-small) var(--margin-extra-small);
  border-radius: var(--border-radius-extra-small);
  color: var(--white);
  font-size: var(--body-small-size);
}

.save-icon {
  position: absolute;
  top: var(--margin-medium-small);
  right: var(--margin-medium-small);
  padding: var(--margin-extra-extra-small) var(--margin-extra-small);
  border-radius: var(--border-radius-extra-small);
  font-size: var(--body-small-size);
  z-index: 100;
}
.save-icon > svg {
  color: var(--light-gray);
}

.save-icon:hover > svg {
  color: var(--dark-gray);
}

.save-icon.saved > svg {
  color: var(--dark-gray);
}

@media only screen and (max-width: 1080px) {
  .product {
    max-width: 100%;
  }

  .image-container {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
}
