.shop-container {
  display: flex;
  gap: var(--margin-large);
}
.shop-container > div:first-child {
  padding-left: var(--margin-huge);
  margin-top: var(--margin-almost-huge);
}
.shop-container > div:last-child {
  padding-right: var(--margin-huge);
}

h1 {
  margin-bottom: var(--margin-large);
}

.filter-container {
  position: fixed;
}

.filter-container + * {
  margin-left: calc(400px + var(--margin-huge));
}

@media only screen and (max-width: 1080px) {
  .filter-title {
    display: none;
  }
  .shop-container {
    flex-direction: column;
  }
  .shop-container > div:first-child {
    padding-left: 0px;
    margin-top: 0px;
  }
  .shop-container > div:last-child {
    padding-right: 0px;
  }
  .filter-container {
    position: relative;
  }
  .filter-container + * {
    margin-left: 0px;
  }
}
